<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>wima</title>
  <!-- Bootstrap -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,900" rel="stylesheet">
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  	<script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/global.js') }}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top search">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href=""><img src="{{ url_for('static', filename='images/logo_white.png') }}" alt="" style=""></a>
      </div>
	  <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="sign-up" href="/sign-up">Got A Service to Offer?</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
	  <div id="search-stuff">
	  {% if data.results %}
		  {% for x in data.results %}
		  <div class="search-result">
			  <img class="drop" src="{{ url_for('static', filename='images/drop.png') }}">
			  <div class="right-side">
			  	<p>{{ x.name }}</p>
			  	<p>{{ x.distance }} miles</p>
			</div>
		  </div>
		  {% endfor %}
	  {% else %}
		  <div class="search-result">
			  <p id="error">No results found!</p>
		  </div>
	  {% endif %}
	  <div id="alert-box">
		  <select id="ccode" name="country_code">
			  <option value="+44">+44</option>
		  </select>
		  <input type="text" id="pnum" name="phone_number" placeholder="get alert for services ...">
		  <input type="hidden" id="area" name="area" value="{{ data.area }}">
		  <input type="hidden" id="service" name="service" value="{{ data.service }}">
		  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
	  </div>
  </div>
 <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39726.44511890733!2d-0.0590153164550781!3d51.51499885599855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1480799996156" width="1000" height="1000" frameborder="0" style="border:0" allowfullscreen></iframe> -->
  </div>

  <img id="houses" src="{{ url_for('static', filename='images/houses.png') }}">
  <div id="blue-line"></div>
  <footer class="footer navbar-fixed-bottom">
    <div class="container wite">
 	 <a class="navbar-text pull-left">Terms</a>
 	 <a class="navbar-text pull-left">About</a>
 	 <a class="navbar-text pull-left">Contact</a>
    </div>
  </footer>


  <!-- /container -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
